.checkout .content .block h2 {
  padding-bottom: 10px;
  font-size: 18px;
}

.checkout .content .block input[type="text"] {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  height: 35px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.checkout .content .block.a,
.checkout .content .block.b,
.checkout .content .block.c {
  padding-bottom: 30px;
}

.checkout .content .block.a .section,
.checkout .content .block.b .section,
.checkout .content .block.d .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.checkout .content .block.a .section .row,
.checkout .content .block.b .section .row,
.checkout .content .block.d .section .row {
  width: 100%;
}

.checkout .content .block.a .section .row input[type="text"],
.checkout .content .block.b .section .row input[type="text"],
.checkout .content .block.d .section .row input[type="text"] {
  width: 100%;
}

.checkout .content .container {
  display: block;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkout .content .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkout .content .container .label {
  padding-left: 30px;
  font-size: 16px;
  font-weight: 300;
}

.checkout .content .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
}

.checkout .content .container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkout .content .container input:checked ~ .checkmark {
  background-color: #6667a8;
  border-radius: 2px;
}

.checkout .content .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkout .content .container input:checked ~ .checkmark:after {
  display: block;
}

.checkout .content .container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkout .content .block.c .product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.checkout .content .block.c .product span {
  font-size: 12px;
  font-weight: 300;
}

.checkout .content .block.c .product .details {
  width: 60%;
}

.checkout .content .block.c .product .details span {
  display: block;
}

.checkout .content .block.c hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.checkout .content .block.c .totals span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.checkout .content .block.c .totals .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
}

.checkout .content .block.d .handle {
  text-align: center;
}

.checkout .content .block.d .handle .submit-btn {
  background: #6667a8;
  border: 1px solid #6667a8;
  padding: 10px;
  width: 200px;
  color: white;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: 700;
}

@media only screen and (min-width: 600px) {
  .checkout .content .block h2 {
    padding-bottom: 15px;
    font-size: 24px;
  }

  .checkout .content .block input[type="text"] {
    height: 40px;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 16px;
  }

  .checkout .content .cluster {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .checkout .content .block.a,
  .checkout .content .block.b {
    width: 45%;
  }

  .checkout .content .block.a,
  .checkout .content .block.b,
  .checkout .content .block.c {
    padding-bottom: 50px;
  }

  .checkout .content .block.c .product span {
    font-size: 16px;
    font-weight: 300;
  }

  .checkout .content .block.c .product .details {
    width: 60%;
  }

  .checkout .content .block.c .product .details span {
    display: block;
    margin-bottom: 5px;
  }

  .checkout .content .block.c hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .checkout .content .block.c .products,
  .checkout .content .block.c .totals {
    width: 60%;
  }

  .checkout .content .block.c .totals span {
    font-size: 16px;
  }

  .checkout .content .block.c .totals .row {
    padding-bottom: 30px;
  }

  .checkout .content .block.d .section {
    padding-bottom: 50px;
  }

  .checkout .content .block.d .section .cluster {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .checkout .content .block.d .section .cluster .row {
    width: 48%;
  }

  .checkout .content .block.d .section .cluster .row input[type="text"] {
    width: 100%;
  }

  .checkout .content .block.d .handle .submit-btn {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    transition: all 0.5s ease;
  }

  .checkout .content .block.d .handle .submit-btn:hover {
    background: white;
    color: #6667a8;
  }
}
