.print .content .block.a,
.print .content .block.b {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.print .content .block.a {
  padding-bottom: 30px;
}

.print .content .block.b .samples {
  display: flex;
  flex-direction: column;
}

.print .content .block.b .samples img {
  width: 250px;
}

.print .content .block.b .samples .img-handle {
  width: 270px;
  height: 210px;
  background: #1c150d;
  border: 2px dotted #1c150d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.print .content .block.b .web {
  display: none;
}

@media only screen and (min-width: 600px) {
  .print .content .block.b {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
  }

  .print .content .block.a {
    padding-bottom: 75px;
  }

  .print .content .block.b .samples {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .print .content .block.b .samples img {
    min-width: 350px;
    max-width: 400px;
  }

  .print .content .block.b .samples .handle {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .print .content .block.b .samples .img-handle {
    width: 370px;
    height: 280px;
    background: #1c150d;
    border: 2px dotted #1c150d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    transition: all 1s ease;
  }

  .print .content .block.b .samples .sample.img-handle:hover {
    width: 370px;
    height: 280px;
    background: white;
    border: 2px dotted #1c150d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  .print .content .block.b .samples .sample:hover .web {
    display: block;
    color: #1c150d;
    padding: 15px;
  }

  .print .content .block.b .samples .sample:hover .web h4 {
    margin-bottom: 10px;
  }

  .print .content .block.b .samples .sample:hover img {
    display: none;
  }
}
