.products {
  background: #1c150d;
}

.products .content .block.a {
  padding-bottom: 15px;
}

.products .content .block.a .subheader {
  margin-bottom: 30px;
}

.products .content .block.a .subheader img {
  height: 275px;
}

.products .content .block.a .subheader .handle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.products .content .block.a .subheader h1 {
  font-size: 26px;
}

.products .content .block.a .subheader span {
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  color: #a49f9c;
}

.products .content .block.a p {
  color: #a49f9c;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 300;
}

.products .content .block.b {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products .content .block.b h2 {
  color: white;
  margin-bottom: 30px;
}

.products .content .block.b .pieces {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.products .content .block.b .pieces .piece {
  width: 45%;
  margin-bottom: 15px;
}

.products .content .block.b .pieces .piece h3 {
  font-size: 12px;
  color: #a49f9c;
  font-weight: 300;
  width: 80%;
}

.products .content .block.b .pieces .piece img {
  max-width: 100%;
}

@media only screen and (min-width: 600px) {
}
