* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.icon {
  height: 25px;
}

h1,
h2,
h3,
h4,
p,
a,
span,
label,
input {
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

.header.dark {
  background: #1c150d;
}

.header .web,
.footer .web {
  display: none;
}

.shadow {
  -webkit-box-shadow: 3px 3px 7px -5px rgba(33, 20, 10, 0.46);
  box-shadow: 3px 3px 7px -5px rgba(33, 20, 10, 0.46);
}

.text-shadow {
  text-shadow: 1px 2px 2px rgba(26, 81, 133, 0.7);
}

.top-shadow {
  -webkit-box-shadow: 0px -3px 7px -5px rgba(33, 20, 10, 0.46);
  box-shadow: 0px -3px 7px -5px rgba(33, 20, 10, 0.46);
}

/* header */
.header .mobile {
  display: flex;
  flex-direction: row;
  padding: 30px;
  border-bottom: 1px dotted #1c150d;
}

.header.dark .mobile {
  border-bottom: 1px dotted white;
}

.header .mobile > .nav,
.header .mobile > .cart {
  width: 20%;
}

.header .mobile > .logo {
  width: 60%;
  justify-content: center;
}

.header .mobile > .logo a {
  width: 100%;
  text-align: center;
}

.header .mobile > .logo img {
  height: 30px;
}

.header .mobile > .nav {
  justify-content: left;
}

.header .mobile > .cart {
  justify-content: right;
}

.header .mobile > .cart i {
  color: #1c150d;
}

.header.dark .mobile > .cart i {
  color: white;
}

.header .mobile > div {
  display: flex;
  align-items: center;
}

/* mobile menu */
.burger {
  width: 30px;
}

.burger .cb {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 9999;
  opacity: 0;
}

.burger .cb:checked ~ .flyout {
  left: 0;
}

.dark .burger .cb ~ .bars span {
  background: white;
}

.burger .cb:checked ~ .bars span {
  background: white;
}

.dark .burger .cb:checked ~ .bars span {
  background: #1c150d;
}

.burger .bars span {
  height: 2px;
  width: 100%;
  background: #1c150d;
  display: block;
  position: relative;
  z-index: 99;
  margin-bottom: 6px;
  border-radius: 1px;
}

.flyout {
  background: #1c150d;
  text-align: left;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: -100vw;
  z-index: 1;
  padding-top: 100px;
  padding-left: 30px;
  border-bottom-right-radius: 2px;
}

.dark .flyout {
  background: white;
}

.flyout a {
  display: flex;
  padding-bottom: 30px;
  font-size: 20px;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  align-items: center;
}

.flyout i {
  font-size: 10px;
  padding-right: 10px;
}

.dark .flyout a {
  color: #1c150d;
}
/* footer */

.footer .mobile {
  display: flex;
  flex-direction: row;
  padding: 30px;
  background: #ede9e7;
}

.footer.dark .mobile {
  display: flex;
  flex-direction: row;
  padding: 30px;
  background: #1c150d;
  border-top: 1px dotted white;
}

.footer .mobile > div {
  display: flex;
  width: 33.33%;
}

.footer .mobile .left,
.footer .mobile .center,
.footer .mobile .right {
  align-items: center;
}

.footer .mobile .center {
  justify-content: center;
}

.footer .mobile .left {
  justify-content: left;
}

.footer .mobile .right {
  justify-content: right;
}

.footer .mobile .left a,
.footer .mobile .center a,
.footer .mobile .right a {
  color: #1c150d;
  font-size: 14px;
}

.footer.dark .mobile .left a,
.footer.dark .mobile .center a,
.footer.dark .mobile .right a {
  color: white;
  font-size: 14px;
}

/* Pages */

.page {
  padding: 30px;
}

.page .header {
  text-align: center;
  width: 65%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.page .header h1 {
  font-weight: 900;
  font-size: 26px;
  color: #1c150d;
  margin-bottom: 5px;
}

.page .header span {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #a49f9c;
}

.page .content p {
  font-size: 14px;
  font-weight: 300;
}

a.cta {
  background: #6667a8;
  color: white;
  padding: 10px;
  width: 220px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: 700;
  border: 2px solid #6667a8;
  letter-spacing: 1.1px;
}

a.cta-secondary {
  background: white;
  color: #6667a8;
  border: 2px solid #6667a8;
  width: 200px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: 700;
  padding: 10px;
}

@media only screen and (min-width: 600px) {
  .header .mobile,
  .footer .mobile {
    display: none;
  }

  .header .web,
  .footer,
  .web {
    display: block;
  }

  /* header */
  .header .web {
    display: flex;
    flex-direction: column;
  }

  .header .web .logo {
    min-width: 450px;
    padding: 50px 100px 50px 100px;
    margin: 0 auto;
  }

  .header .web .menu {
    border-top: 2px dotted #000;
    padding: 25px 100px 25px 100px;
    display: flex;
    justify-content: space-between;
  }

  .header .web .menu a {
    text-transform: uppercase;
    color: #1c150d;
    font-size: 14px;
  }

  .header .web .menu a.menu-hover {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    padding-bottom: 5px;
    transition: all 0.5s ease;
  }

  .header .web .menu i:hover {
    color: #6667a8;
  }

  .header .web .menu a.menu-hover:hover {
    border-bottom: 3px solid #6667a8;
    padding-bottom: 5px;
  }

  /* footer */

  .footer .web {
    display: flex;
    flex-direction: row;
    padding: 25px 100px 25px 100px;
    background-color: #ede9e7;
  }

  .footer .web .left,
  .footer .web .right {
    display: flex;
    align-items: center;
  }

  .footer .web .left {
    width: 25%;
    justify-content: space-between;
  }

  .footer .web .left a {
    color: #1c150d;
    text-transform: uppercase;
    font-size: 14px;
  }

  .footer .web .right {
    justify-content: right;
    width: 75%;
  }

  .footer .web .right img {
    height: 105px;
  }
}
